<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/061812e5-2eb1-4d6d-a492-d9d4881b86ea/resourceGroups/jecrc-training-batch1/providers/Microsoft.Web/sites/jecrc-vinod-productapi</ResourceId>
    <ResourceGroup>jecrc-training-batch1</ResourceGroup>
    <ApiResourceId>/subscriptions/061812e5-2eb1-4d6d-a492-d9d4881b86ea/resourceGroups/jecrc-training-batch1/providers/Microsoft.ApiManagement/service/ProductServiceapi2/apis/ProductService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jecrc-vinod-productapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e69ce018-dd06-4598-9500-f3ed1254c16d</ProjectGuid>
    <PublishUrl>https://jecrc-vinod-productapi.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>